body {
  padding: 0;
  margin: 0;
  font-family: Lora;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.contentD{

 font-size: 1.2rem;
border-top: 1px solid #00F0B5;
border-bottom: 1px solid #00F0B5;
}
.price{
  color:#00F0B5;
  font-size: bold;
  font-size: 1.4rem;
}
.header{
padding:10px;
background-color: rgb(117, 212, 241);  
border-bottom: 1px solid #00F0B5;
display: flex;
justify-content: space-between;
font-family: Lora;
}
.header a{
text-decoration: none;
color: blanchedalmond;
font-size: 2rem;
}

.header a:hover{
color:#00F0B5;
}
.header small{
color: #fff;
font-size: 1.2rem;
}
.header .active{
color: orange;
}
.content{
padding:20px;
}
.error{
color: rgb(170, 42, 3);
margin-bottom: 10px;
}

input[type=text], input[type=password] {
width: 70%;
padding: 12px 20px;
margin: 8px 0;
border: 1px solid #ccc;
box-sizing: border-box;
}

.button {
background-color: rgb(96, 219, 92);
color: #fff;
padding: 4px;
border: none;
border-radius: 1rem;
cursor: pointer;
font-size: 1rem;
text-transform: uppercase;
height: 3rem;
  width: max-content;
  font-family: Lora;
}
.button:before{
  border-radius: 50px;
  width: 25%;
  background: rgb(96, 219, 92);
}
.button:hover{
  background: #00F0B5;
    width: 100%;
  
}	

button:hover {
opacity: 0.8;
}
.container {
padding: 16px;
}
form{
padding: 30px;
margin: auto;
padding-top: 5rem;
 width: 100%;
 max-width: 520px;
 min-height: 600px;
}
h1{
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 600px) {
.header a{
  display: flex;
}
.header small{
 color:rgb(117, 212, 241);
}
}
.aniTitle{
  color: rgb(96, 219, 92);
  font-family: Lora;
  letter-spacing: 10px;
  font-size: 100px;
  font-weight: 700;
  padding-top: 3rem;
  animation: textAnimate 3s infinite;
}
@keyframes textAnimate {
  from {transform: translate(0px);}
  to {transform: translate(100px);}
}




